.station {
  border: solid 2px #CCC;
  box-shadow: 4px 4px 4px #CCC;
  padding: 12px;
  flex-basis: 20%;
}
.station p {
  margin: 0;
}

.station a, .station a:visited { 
  text-decoration: none;
  color: #444;
}
#stations {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}