@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  background-color: #EEE;
}
body {
  font-family: "Inter";
  font-size: 16px;
  width: 90%;
  margin: 2em auto;
  background-color: white;
  padding: 1em;
  line-height: 1.7em;
}
a {
  color: blue;
  &:visited {
    color: blue;
  }
}
pre {
  background-color: #F0F0F0;
  padding-bottom: 1em;
}
code { 
  background-color: #F0F0F0;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
}
nav {
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 125%;
  margin-bottom: 2em;
  a {
    color: white;
    text-decoration: none;
    &:visited {
      color: white;
    }
  }
  ul { 
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    flex-basis: 50%;
    gap: 2em;
    justify-content: end;
  }
}

ul {
  padding: 0em 2em;
}

#dice img { width: 200px; }


#get-location { 
  text-decoration: none;
  border: solid 2px blue;
  border-radius: 6px;
  padding: 4px;
  font-weight: normal;
}