<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML Forms</title>
  <style>
    body { font-size: 22px; margin: 2em; font-family: system-ui; }
    input { font-size: 22px; padding: 6px; }
  </style>
</head>
<body>

  <h1>You're In!</h1>

  <h4>Would you like to buy a movie poster?</h4>

  <p>Or you can <a href="/account">view your account</a>.</p>
  
  <p>
    <img width="400px" src="https://i.etsystatic.com/22273121/r/il/eacae0/2345307648/il_1588xN.2345307648_km6w.jpg" alt="Apollo 13 Poster">
  </p>
</body>
</html>